.profile__info {
  display: grid;
  max-width: 336px;
  grid-template-columns: 1fr 24px;
  gap: 16px 18px;
  align-self: center;

}

@media screen and (max-width: 568px) {
  .profile__info {
    max-width: 189px;
    grid-template-columns: 189px 18px;
    gap: 4px 10px;
    align-self: flex-start;
    transform: translate(46px, 0);
  }
}
