.popup__error {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
    min-height: 25px;
    margin-top: 5px;
    box-sizing: border-box;
    opacity: 1;
}
