.footer {
  padding-top: 66px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .footer {
    max-width: 660px;
  }
}

@media screen and (max-width: 689px) and (min-width: 569px) {
  .footer {
    max-width: 520px;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    padding-top: 48px;
    max-width: 282px;
  }
}
